{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-3 mx-0">
        <div class="d-flex flex-column align-items-start">
            <h2>Welcome</h2>
            <p>You are on the adding contacts page</p>
        </div>
    </div>


    {{ form_start(form) }}
    <div>
        {{ form_widget(form.name) }}
    </div>
    <div>
        {{ form_widget(form.phone) }}
    </div>
    <div>
        {{ form_widget(form.email) }}
    </div>
    <div>
        {{ form_widget(form.body) }}
    </div>
    <button type="submit">Submit</button>
    {{ form_end(form) }}


{% endblock %}
