<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
            <!-- ><link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"> -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="main"></div>

            <div class="menu-bar">
                <h1 class="title">
                    <a href="{{ path('index') }}">Symfony Test Page</a>
                </h1>
                <div class="profileBox">
                    <div class="avatar"></div>
                    {% if app.user %}
                        <div class="username">{{ app.user.username }}</div>
                    {% endif %}
                    <a class="logoutButton" href="{{ app.user ? 'logout' : 'login' }}">
                        <img src="{{ asset(app.user ? 'images/darkmode/logout.svg' : 'images/darkmode/person.svg') }}"
                             alt="{{ app.user ? 'Logout' : 'Login' }}">
                    </a>
                </div>
            </div>

        <div class="container-fluid d-flex flex-grow-1 p-0">
            <div class="d-flex flex-column" style="width: 17vw;">
                <div class="menu p-0">
                    <a href="{{ path('index')}}" class="d-block mb-2">
                        <img src="{{ asset('images/darkmode/home.svg') }}" alt="Home" />
                        Start
                    </a>
                    <a href="{{ path('app_contacts')}}" class="d-block mb-2">
                        <img src="{{ asset('images/darkmode/menu_book.svg') }}" alt="Contacts" />
                        Contacts
                    </a>
                    <a href="{{ path('app_add_contact')}}" class="d-block mb-2">
                        <img src="{{ asset('images/darkmode/add_circle.svg') }}" alt="Add Contact" />
                        Add Contact
                    </a>
                    <a href="{{ path('index')}}" class="d-block mb-2">
                        <img src="{{ asset('images/darkmode/policy.svg') }}" alt="Company Details" />
                        Company Details
                    </a>
                </div>
            </div>
            <div class="flex-grow-1 p-0">
                {% block body %}{% endblock %}
            </div>
        </div>


            <div class="footer ">
                <img src="{{ asset('images/darkmode/copyright.svg') }}" alt="copyright-image" />
                2024 Test Page
            </div>
        </div>
    </body>
</html>
