<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <!-- ><link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">


        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <div class="menu-bar">
            <h1 class="title">My Symfony Test Page</h1>
            <div class="profileBox">
                <div class="avatar"><?php echo $_SESSION['username'][0]; ?></div>
                <div class="username"><?php echo $_SESSION['username']; ?></div>
                <a class="logoutButton" href="{{ app.user ? 'logout' : 'login' }}">
                    <img src="{{ asset(app.user ? 'images/darkmode/logout.svg' : 'images/darkmode/person.svg') }}"
                         alt="{{ app.user ? 'Logout' : 'Login' }}">
                </a>
            </div>
        </div>


        <div class="footer ">
            <img src="{{ asset('images/darkmode/copyright.svg') }}" alt="copyright-image" />
            2024 Test Page
        </div>

    </body>
</html>
